<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/be0b6985-ea9e-4267-883e-f54f5e3b52ba/resourceGroups/RG_RepTracker/providers/Microsoft.Web/sites/RepTrackerApi20220712202938</ResourceId>
    <ResourceGroup>RG_RepTracker</ResourceGroup>
    <ApiResourceId>/subscriptions/be0b6985-ea9e-4267-883e-f54f5e3b52ba/resourceGroups/az204-blob-rg/providers/Microsoft.ApiManagement/service/RepTrackerApiapi/apis/RepTrackerApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://reptrackerapi20220712202938.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>5dc5f63c-afa5-4f15-8f0f-aa9dd2cc7588</ProjectGuid>
    <MSDeployServiceURL>reptrackerapi20220712202938.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RepTrackerApi20220712202938</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$RepTrackerApi20220712202938</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>